div#content {
	width: 727px;
}

tr input[type='text'] {
	width: 120px;
}

td {
	border-right: 20px solid white;
}

div#control-buttons {
	clear: both;
}

#update-button {
	margin-top: 20px;
	float: right;
	margin-bottom: 20px;
}

#add-button {
	float: left;
	margin-right: 30px;
}