table, td, tr, div input, form {
	margin: 0;
}



div#content {
	width: 727px;
}

tr input[type='text'] {
	width: 120px;
}

td {
	border-right: 20px solid white;
}


#update-button {
	position: relative;
	left: 148px;
	top: 24px;
}

#back-button {
	float: left;
}

#add-button {
	float: left;
	margin-left: 20px;
}